<html>
    <footer>
        <div>
            <p>&copy; 2023 Bookstore. All rights reserved.</p>
            <ul>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/privacy-policy.html">Privacy Policy</a></li>
            </ul>
            <div>
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
            </div>
        </div>
    </footer>
</html>